<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>re.mntw.yo</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>040E6BBD-6C5D-4E99-B602-45913E67114E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9526C259-003F-449C-8F5A-0913B7091859</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>995D2BA4-5863-487C-8374-30A06870C7E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5ACC126-270B-459E-A7BC-5A83C350EBA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5ACC126-270B-459E-A7BC-5A83C350EBA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>040E6BBD-6C5D-4E99-B602-45913E67114E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrii Yurchuk</string>
	<key>description</key>
	<string>Obtain a TOTP code from YubiKey OATH application</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>yubikey-oath</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>yo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=/usr/local/bin:/opt/homebrew/bin:$PATH

python3 list_codes.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get a TOTP code from YubiKey</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>995D2BA4-5863-487C-8374-30A06870C7E8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>PATH=/usr/local/bin:/opt/homebrew/bin:$PATH

bash get_code.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5ACC126-270B-459E-A7BC-5A83C350EBA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>040E6BBD-6C5D-4E99-B602-45913E67114E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>9526C259-003F-449C-8F5A-0913B7091859</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Obtain a TOTP code from a YubiKey

Requirements: YubiKey Manager and Python 3
Alfred command: yo
More info: https://github.com/Ch00k/alfred-ykman-oath</string>
	<key>uidata</key>
	<dict>
		<key>040E6BBD-6C5D-4E99-B602-45913E67114E</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>9526C259-003F-449C-8F5A-0913B7091859</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>995D2BA4-5863-487C-8374-30A06870C7E8</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>C5ACC126-270B-459E-A7BC-5A83C350EBA6</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>PASSWORD</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>PASSWORD</string>
	</array>
	<key>version</key>
	<string>0.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/Ch00k/alfred-ykman-oath</string>
</dict>
</plist>
